@charset "utf-8";
@use '../variables';
.button01 {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-sizing: border-box;
  padding: 1em;
  background: variables.$font-first-color;
  border: 4px solid variables.$font-first-color;
  @include variables.mq(sm) {
    border: 2px solid variables.$font-first-color;
    padding: 0.5em;
    max-width: 250px;
  }
  span {
    color: variables.$font-second-color;
    font-size: 2rem;
  }
  &:hover {
    opacity: 1;
    background: variables.$font-second-color;
    span {
      color: variables.$font-first-color;
    }
  }
}
