@charset "utf-8";
@use '../variables';
.footer {
  width: 100%;
  margin: 0 auto;
  background-color: variables.$bg-third-color;
  @include variables.mq(lg) {
  }
  @include variables.mq(md) {
  }
  @include variables.mq(sm) {
  }

  &Nav {
    ul {
      max-width: 800px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 20px 0;
      @include variables.mq(lg) {
        padding: 2% 0;
      }
      @include variables.mq(sm) {
        padding: 4% 0;
        display: block;
        text-align: center;
      }
      a {
        color: variables.$font-second-color;
        display: inline-flex;
        align-items: center;
        @include variables.mq(sm) {
          font-size: 2rem;
        }
        svg {
          stroke: #fff;
          padding-right: 5px;
          padding-top: 2px;
        }
      }
    }
  }
  .sns {
    max-width: 160px;
    margin: 0 auto 20px;
    @include variables.mq(lg) {
      margin-bottom: 2%;
    }
    @include variables.mq(sm) {
      margin-bottom: 4%;
    }
    li {
      max-width: 40px;
    }
  }
  &Copyright {
    text-align: center;
    color: variables.$font-second-color;
    padding: 10px 0;
    background-color: variables.$bg-second-color;
    font-size: 1rem;
    @include variables.mq(lg) {
      padding: 2% 0;
    }
  }
}
