@charset "utf-8";
@use '../variables';
#loading {
  z-index: 10;
  pointer-events: none;
  background: variables.$bg-first-color;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &[data-is-show='true'] {
    display: none;
  }
}
