@charset "utf-8";
@use '../modules/variables';
html,
body,
section,
main {
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 62.5%;
}
section {
  overflow-x: hidden;
}
div {
  box-sizing: border-box;
  margin: 0;
  line-height: 0;
}

img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

a,
input {
  transition: ease 0.4s;
  text-decoration: none;
  display: block;
  &:hover {
    opacity: 0.6;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  line-height: 1.5em;
  margin: auto;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
